
.footer-area {
  background-color: #4c68df;
}

::-moz-selection{background-color:#f7631b;color:#fff;}
::selection{background-color:#f7631b;color:#fff;}
::-webkit-input-placeholder{color:#777777;font-weight:300;}
:-moz-placeholder{color:#777777;opacity:1;font-weight:300;}
::-moz-placeholder{color:#777777;opacity:1;font-weight:300;}
:-ms-input-placeholder{color:#777777;font-weight:300;}
::-ms-input-placeholder{color:#777777;font-weight:300;}
ul{margin:0;padding:0;list-style:none;}
a{-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
a,a:focus,a:hover{text-decoration:none;outline:0;}
.btn:active:focus,.btn:focus{text-decoration:none;outline:0;}
h4{font-family:"Poppins", sans-serif;color:#222;line-height:1.2em!important;margin-bottom:0;margin-top:0;font-weight:600;}
h4{font-size:18px;}
.mb-30{margin-bottom:30px;}
h4{font-size:18px;}
h4{line-height:1.5em;}
.footer-area{background-color:#04091e;}
.single-footer-widget h4{color:#fff;margin-bottom:25px;font-weight:500;}
.single-footer-widget .form-control{border:none;width:80%!important;font-weight:300;background:#f9f9ff;padding-left:20px;border-radius:0;font-size:14px;line-height:normal!important;color:#222;}
.single-footer-widget .form-control:focus{box-shadow:none;color:#222;}
.single-footer-widget ul li{margin-bottom:10px;}
.single-footer-widget ul li a{color:#777;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
.single-footer-widget ul li a:hover{color:#f7631b;}
.single-footer-widget .info{margin-top:25px;color:#fff;font-size:12px;}
.single-footer-widget .btn{font-size:1.2rem;border-radius:0;background:#f7631b;color:#fff;}
.single-footer-widget .btn .lnr{line-height:inherit;font-size:13px;padding:0px 4px;}
.single-footer-widget ::-moz-selection{background-color:#191919!important;color:#777;}
.single-footer-widget ::selection{background-color:#191919!important;color:#777;}
.single-footer-widget ::-webkit-input-placeholder{color:#777;font-weight:300;}
.single-footer-widget :-moz-placeholder{color:#777;opacity:1;font-weight:300;}
.single-footer-widget ::-moz-placeholder{color:#777;opacity:1;font-weight:300;}
.single-footer-widget :-ms-input-placeholder{color:#777;font-weight:300;}
.single-footer-widget ::-ms-input-placeholder{color:#777;font-weight:300;}
@media (max-width: 991.98px){
.single-footer-widget{margin-bottom:30px;}
}
.footer-bottom{padding-top:50px;}
.footer-bottom .footer-social{text-align:right;}
@media (max-width: 991px){
.footer-bottom .footer-social{text-align:left;margin-top:30px;}
}
.footer-bottom a{color:#f7631b;}
.footer-bottom .footer-social a{background:rgba(255, 255, 255, 0.1);color:#fff;width:30px;height:30px;display:inline-block;text-align:center;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
.footer-bottom .footer-social a i{vertical-align:bottom;}
.footer-bottom .footer-social a:hover{background-color:#f7631b;}
h4{font-family:"Muli", sans-serif;font-weight:bold;line-height:inherit;}
a,input,button,.form-control{-webkit-transition:0.5s;transition:0.5s;}
a{color:#252525;-webkit-transition:0.5s;transition:0.5s;text-decoration:none!important;}
a{color:#337ab7;text-decoration:none;}
a{background-color:transparent;}
/*! CSS Used from: http://localhost/dots/DOTS_EDU/theme/css/style.css */
a:hover{text-decoration:none;outline:0 none;color:#21a7d0;}
::selection{background:#21a7d0;text-shadow:none;color:#ffffff;}
button:focus{outline:none!important;}
/*! CSS Used from: http://localhost/dots/DOTS_EDU/theme/css/cor.css */
button:focus{outline:none;}
button{font-weight:600;display:inline-block;padding:0.6180469716em 1.41575em;cursor:pointer;text-decoration:none;color:#fff;border:0;border-color:#43454b;border-radius:4px;outline:0;background:0 0;background-color:#43454b;text-shadow:none;font-family:"Kumbh Sans", sans-serif;}
button:hover{border-color:#000;background:#000;}
button:disabled{cursor:not-allowed;opacity:0.5!important;}
a:hover{cursor:pointer;text-decoration:none;outline:0;}



