
.register {
    background: linear-gradient(to right, #3931af 0, #00c6ff 100%);
    margin-top: auto;
    padding: 10%;
    overflow: hidden;
    
  }
  .register .register-form {
    padding: 12%;
    margin-top: 11%;
  }
  
  
  .register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
  }
  
  .register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    animation: mover 1s infinite alternate;
  }
  .register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
  }
  .register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
  }
 
  .btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background:blue;
    color:black;
    font-weight: 600;
    width: 80%;
    
    margin-left: 50px;
    margin-right: 1%;
  }
  .register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: green;
  

}
.form-group {
    margin-bottom:center;
    margin-left: center;
    padding-left:1%;
    text-align: 14%;
  }
  
  
  
  button.margin-right {
    margin-right: 120px;
  }

.button